// Main settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    a {
        text-decoration: none;
        color: rgb(32, 28, 28);
        padding: 2px 4px;
    }
}

// Reusebles
@mixin resize {
    @media screen and (max-width: 550px) {
        @content;
    }
}

@mixin resize2 {
    @media screen and (max-width: 900px) {
        @content;
    }
}

@mixin resize3 {
    @media screen and (max-width: 550px) {
        @content;
    }
}

// Header
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
        background: none;
        border: 1px solid black;
        width: 100px;
        height: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
        transition: 0.3s ease-in-out;
    }
    button:hover {
        background-color: rgb(31, 29, 29);
        color: whitesmoke;
        transition: 0.3s ease-in-out;
    }
    h3 {
        opacity: 0;
        pointer-events: none;
    }
    h4 {
        opacity: 0;
        pointer-events: none;
    }
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        width: 60%;
        margin-left: 70px;
        margin-bottom: 20px;
        @supports (-ms-ime-align: auto) {
            margin-left: 180px;
        }
        ul {
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            font-size: 20px;
            @supports (-ms-ime-align: auto) {
                justify-content: space-between;
            }
        }
        a:hover {
            background-color: rgb(0, 165, 143);
            padding: 2px 4px;
            border-radius: 10px;
            color: whitesmoke;
        }
    }
    .hamburger {
        width: 50%;
        display: none;
        justify-content: flex-start;
        position: absolute;
        top: 40px;
        .lines {
            position: absolute;
            margin-left: 10px;
            width: 35px;
            height: 25px;
            border-bottom: 2px solid black;
            transition: 0.2s ease-in-out;
        }
        .lines:before {
            content: ' ';
            display: block;
            border-bottom: inherit;
            position: relative;
            top: 55%;
        }
        .lines:after {
            content: ' ';
            display: block;
            border-bottom: inherit;
        }
    }
    .hamburger:hover {
        .lines {
            transform: rotate(90deg);
            transition: 0.2s ease-in-out;
        }
    }
    @include resize2 {
        .hamburger {
            display: flex;
        }
    }
    @include resize3 {
        .hamburger {
            width: 90%;
        }
    }
}

@include resize2 {
    header {
        nav {
            justify-content: center;
            margin-left: 0;
            height: 0;
            overflow: hidden;
            transition: 0.3s ease-in-out;
        }
        ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .navReveal {
        height: 120px;
        transition: 0.3s ease-in-out;
    }
}

.pages {
    margin-bottom: 30px;
}

.page {
    display: flex;
    justify-content: center;
    .content {
        width: 60%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 300px;
        img {
            padding-top: 20px;
            width: 100%;
            height: 70%;
            object-fit: cover;
        }
        p {
            padding-top: 10px;
        }
    }
    @include resize {
        .content {
            width: 100%;
            margin: 0 10px;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-auto-rows: 300px;
        }
    }
}

.pageNumbersControl {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.pageNumbersContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    .numberOne {
        cursor: pointer;
        font-size: 20px;
        color: rgb(68, 68, 177);
        p {
            margin: 0 5px;
        }
        @supports (-ms-ime-align: auto) {
            p {
                margin: 0 20px;
            }
        }
    }
    .numberLast {
        cursor: pointer;
        font-size: 20px;
        color: rgb(68, 68, 177);
        p {
            margin: 0 5px;
        }
        @supports (-ms-ime-align: auto) {
            p {
                margin: 0 20px;
            }
        }
    }
    .pageNumbers {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        width: 100px;
        li {
            cursor: pointer;
            font-size: 20px;
            color: rgb(68, 68, 177);
            margin: 0 5px;
        }
    }
    @supports (-ms-ime-align: auto) {
        .pageNumbers {
            justify-content: space-between;
        }
    }
    // @include resize2 {
    //     .pageNumbers {
    //         width: 100%;
    //     }
    // }
}